.text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.charts {
    height: 100%;
    width: 100%;
}
.stform{
    margin-top: 1px;
}
.keytext{
    width: 40%;
    border: 5px solid gray;
    font-weight: bold;
    text-decoration: underline;
    font-size: 8px;
}